version: '3'
services:
  yumzee: 
    image: sadfroghk/yumzee
    network_mode: host
    container_name: yumzee
    restart: unless-stopped
    command: bash /root/init.sh node
    environment:
      - MONIKER=YOU_MONIKER_NAME
